.titulo-amarillo {
  color: #F2CC77; }

.titulo-GrisOscuro {
  color: #1A1A1A; }

.fondo-Oscuro {
  background-color: #1A1A1A; }

h1, h2, h3, h4, h5, h6, p, a, li, span, div, a, span {
  font-family: 'American Typewriter',' Times New Roman',serif;
  font-weight: lighter;
  color: #F2CC77; }

.titulo-amarillo {
  color: #F2CC77; }

.titulo-GrisOscuro {
  color: #1A1A1A; }

.fondo-Oscuro {
  background-color: #1A1A1A; }

h1 {
  font-size: 2.5em;
  text-align: center; }

.bordeAmarillo, #proyectos .proyecto .enlacesDemoCode .code,
#proyectos .proyecto .enlacesDemoCode .demo {
  border: #F2CC77 0.05em solid;
  margin-top: 0.5em;
  padding: 0.5em; }

.google-design {
  background-image: url("../img/google.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .google-design p.demo:hover, .google-design p.code:hover {
    opacity: .6; }

.lyft {
  background-image: url("../img/taxi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .lyft p.demo:hover, .lyft p.code:hover {
    opacity: .6; }

.yape {
  background-image: url("../img/money.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .yape p.demo:hover, .yape p.code:hover {
    opacity: .6; }

.passeante {
  background-image: url("../img/subway.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .passeante p.demo:hover, .passeante p.code:hover {
    opacity: .6; }

.animePulse {
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out; }

.logoGrandeHero {
  -webkit-perspective: 500px;
  -webkit-animation-name: girando;
  -webkit-animation-timing-function: steps(start, 4, end);
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 8s;
  -webkit-transform-style: preserve-3d;
  z-index: 1; }

div.navbar-fixed {
  -vendor-animation-duration: 5s;
  -vendor-animation-delay: none;
  -vendor-animation-iteration-count: 1; }

@-webkit-keyframes girando {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0; }
  10% {
    opacity: .10; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  40% {
    opacity: 0.4; }
  50% {
    opacity: .50; }
  60% {
    opacity: .60; }
  70% {
    opacity: .80; }
  80% {
    opacity: .90; }
  90% {
    opacity: .95; }
  100% {
    opacity: 1.0; } }
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.titulo-oscuro {
  color: #1A1A1A; }

.col.s6.myBar.center {
  background-color: #D9D9D9;
  padding-left: 0; }

.barritaMediana {
  text-align: center;
  background-color: #F2CC77;
  color: #1A1A1A;
  font-size: 1.5rem;
  width: 80%; }

#myQuote {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #F2CC77; }
  #myQuote h3.type-it {
    color: #1A1A1A; }

.logo {
  width: 70%; }

.menu {
  background-color: #F2CC77; }
  .menu__enlaces--gris_oscuro {
    color: #1A1A1A; }

ul.bajarMenuDrop {
  margin-top: 5em;
  width: 100%;
  background-color: #1A1A1A; }
  ul.bajarMenuDrop li a {
    color: #F2CC77;
    display: block;
    height: 4em;
    width: 100%;
    font-size: 1em; }

#hero {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img/fondoHero.png");
  min-height: 100vh;
  max-height: 120vh;
  background-attachment: fixed; }
  #hero div.row.botonContacto {
    margin-top: 4em;
    font-weight: bolder;
    border: solid #F2CC77 0.1em; }

#aboutMe {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1A1A1A;
  height: 100vh;
  padding-top: 1%;
  overflow: hidden; }
  #aboutMe .aboutMe__marco1 {
    border: solid #F2CC77 0.3em;
    height: 80vh;
    width: 90vw; }
  #aboutMe .aboutMe__marco2 {
    border: solid #F2CC77 0.3em;
    position: relative;
    bottom: 1.8em;
    left: 0.9em;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2em; }
    #aboutMe .aboutMe__marco2 p {
      padding: 0.1em;
      color: #D9D9D9;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-flow: wrap;
      align-content: center; }

#proyectos {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../img/fondo2.jpg");
  background-position: center;
  background-size: cover;
  background-position: center; }
  #proyectos h2 {
    color: #1A1A1A;
    font-size: 2em;
    font-weight: 400; }
  #proyectos .proyecto {
    border: solid #4D4D4D 0.1em;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center; }
    #proyectos .proyecto h3 {
      font-weight: 500;
      text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.7);
      padding-bottom: 2em; }
    #proyectos .proyecto .enlacesDemoCode {
      display: flex;
      flex-direction: row;
      align-content: space-around;
      justify-content: center; }
      #proyectos .proyecto .enlacesDemoCode .code,
      #proyectos .proyecto .enlacesDemoCode .demo {
        font-weight: bolder;
        color: white;
        width: 100%;
        background-color: rgba(77, 77, 77, 0.5); }
  #proyectos .proyectoOscuro {
    background-color: #1A1A1A; }
  #proyectos .proyectoClaro {
    background-color: #4D4D4D; }

#habilidades {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4D4D4D;
  color: #F2CC77; }
  #habilidades .habs2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }
  #habilidades .card-panel {
    background-color: #1A1A1A;
    height: auto;
    margin: 0.2em; }
  #habilidades .habs {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

.HabilidadesPrincipales {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .HabilidadesPrincipales div.col.s6,
  .HabilidadesPrincipales div.col.s6 p {
    font-family: 'American Typewriter',' Times New Roman',serif;
    font-weight: lighter;
    font-weight: lighter; }

.habilidadesSecundarias {
  text-align: center; }
  .habilidadesSecundarias li {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em; }
    .habilidadesSecundarias li i {
      font-size: 3em; }
    .habilidadesSecundarias li p {
      font-size: 1em; }

#contactSection {
  height: 100vh;
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #contactSection span.textoContacto {
    color: #4D4D4D; }
  #contactSection a:hover {
    color: #1A1A1A; }
  #contactSection a i:hover {
    color: #F2CC77;
    font-size: 1em; }

.borde-oscuro {
  border: solid #1A1A1A 0.03em; }

.invisible {
  display: none; }

.visible {
  display: flex; }

#brandLogo {
  display: block; }

a.brand-logo.btn-floating {
  background-color: #F2CC77;
  display: inline-block;
  width: 4em;
  height: 4em;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  a.brand-logo.btn-floating img {
    vertical-align: middle;
    align-self: center; }

.side-nav {
  background-color: #1A1A1A;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 50vw; }
  .side-nav img {
    margin-top: .5em;
    width: 40%; }

a.enlacesNav p {
  color: white;
  font-size: 1.3em; }
  a.enlacesNav p:hover {
    color: #F2CC77; }

p.textoside {
  line-height: 1.3; }

.int {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.contenedorIntereses {
  background-color: #4D4D4D; }
  .contenedorIntereses div {
    background-color: #1A1A1A; }
    .contenedorIntereses div ul {
      background-color: #1A1A1A; }
      .contenedorIntereses div ul li {
        background-color: #1A1A1A; }
        .contenedorIntereses div ul li a {
          background-color: #1A1A1A; }
    .contenedorIntereses div div {
      border-color: #1A1A1A; }

#intereses {
  background-color: #4D4D4D;
  color: #4D4D4D;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #intereses .card-panel {
    background-color: #1A1A1A;
    color: #F2CC77; }

.navbar-fixed {
  display: none; }

@media screen and (min-width: 200px) and (max-width: 425px) {
  body {
    overflow-x: hidden;
    box-sizing: border-box; }

  .esconder {
    display: none; }

  #hero {
    height: 100vh; }

  #aboutMe {
    display: none; }

  #portafolio {
    display: flex;
    position: relative;
    min-height: 100vh;
    padding-top: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    #portafolio #proyectos {
      display: block;
      height: 150vh; }

  a.brand-logo.btn-floating {
    background-color: #F2CC77;
    vertical-align: middle;
    text-align: center; }
    a.brand-logo.btn-floating img {
      vertical-align: middle;
      align-self: center; }

  .side-nav {
    width: 70vw; }

  img.responsive-img.redondo {
    width: 60%; }

  #quiensoy,
  .navbar-fixed {
    display: none; } }
@media screen and (min-width: 426px) and (max-width: 1000px) {
  #hero {
    height: 100vh; }

  #portafolio {
    display: flex;
    position: relative;
    min-height: 100vh;
    padding-top: 0;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    #portafolio #proyectos {
      display: block;
      height: 150vh; }

  #contactSection {
    display: block;
    position: absolute;
    height: auto; }

  .side-nav {
    width: 70vw; }

  img.responsive-img.redondo {
    width: 60%; }

  .navbar-fixed {
    display: none; } }
.redondo {
  border-radius: 50%; }

.frameworks, .serviciosweb, .herramientasDesarrollo {
  visibility: hidden; }

/*# sourceMappingURL=main.css.map */
